.mainBoard {
  display: flex;
  flex-direction: row;
}

.boardContainer {
  display: flex;
}

.opponentSideBoard {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
}

.playerSideBoard {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 8.25rem;
}
