.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.firstClicked {
  animation: firstClicked 0.4s infinite;
}
@keyframes firstClicked {
  0% {
    transform: translate(1px, 1px);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(1px, 1px);
  }
}

.ghost {
  max-width: 100%;
  height: auto;
}

.goal {
  background-color: #cbf5ff;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image: linear-gradient(
      45deg,
      #6dc2f3 25%,
      #6dc2f3 25%,
      transparent 25%,
      transparent 75%,
      #6dc2f3 75%,
      #6dc2f3 75%
    ),
    linear-gradient(
      -135deg,
      #6dc2f3 25%,
      #6dc2f3 25%,
      transparent 25%,
      transparent 75%,
      #6dc2f3 75%,
      #6dc2f3 75%
    );
}

.reversed {
  transform: rotate(180deg);
}

.clickable {
  background-color: #bcf7d3;
}

.factorGhost {
  animation: firstClicked 0.4s infinite;
}
@keyframes firstClicked {
  0% {
    transform: translate(1px, 1px);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(1px, 1px);
  }
}
